/* The style.css document declares rules (like color) for particular
html elements (-> element selectors) */

/* HTML/CSS Element selectors: type (h1...) id (assign the specific
  type an id="headerxy" and then select that in style.css: #headerxy) */

/* Class selectors: assign class="classxy" to a series of elements
  and select them in style.css: .classxy */

/* Select with span and div <> : span for inline, div for whole paragraphs
  then select div or span in style.css (id and class selectors can be used 
  in addition to div or span! */

/* Relative width and height (by percent of the screen)
    - vh for height e.g. 50 for 50 percent 
    - vw for width */

/* Calculation operations: calc(operation with spaces) */

/* Fonts and font-families - font-stacks 
-> suggestions in emmet with: control + spacebar
font-family: */

/* You can also use google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=League+Spartan:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgb(201, 201, 201);
  font-family: "Bitter", serif;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: rgb(103, 103, 103);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #191970;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #191970;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(105px);
  transform: translateX(105px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(187px);
  transform: translateX(187px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(280px);
  transform: translateX(280px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}